.contact-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 9)),
    url(../images/header/rod-long-I79Pgmhmy5M-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 160px 0px;
}
.contact-header h1 {
  font-size: 85px;
}
.contact-header p {
  font-weight: 700;
}
.contact-content{
    width: 100%;
    padding: 50px 0px;
}
.contact-content h1 {
    padding: 30px;
    margin-left: 60px;
}
.contact-inner {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.contact-inner .contact-inner-left {
  width: 40%;
}
.contact-inner .contact-inner-left .info{
    display: flex;
    justify-content: space-between;
}
.contact-inner .contact-inner-left label{
    margin-bottom: 10px;
}
textarea{
    width: 100%;
    height: 100px;
    padding: 10px;
}
.form-btn{
    text-align: right;
    padding: 15px 0px;
}
.form-btn button{
    width: 35%;
    color: white;
}
.contact-inner .contact-inner-left input{
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}
.contact-inner .contact-inner-left .full-name {
  width: 40%;
}
.contact-inner .contact-inner-left .phone-number {
  width: 40%;
}
.contact-inner .contact-inner-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-inner-right .contact-inner-right-container{
    width: 80%;
margin-bottom: 10px;
}
.contact-inner-right .contact-inner-right-container .opening-time{
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}