.footer {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)),
    url(../images/daan-evers-tKN1WXrzQ3s-unsplash.jpg);
  background-size: cover;
  background-position: center;
  padding: 100px 50px;
}
.footer h2 {
  color: white;
  margin-bottom: 60px;
  margin-left: 120px;
}
.footer .homefooter {
  height: 100%;
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-around;
}

@media (width <=770px) {
  .footer .homefooter {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .footer h2 {
    margin-bottom: 30px;
    text-align: center;
    margin-left: 0;
  }
  .footer .homefooter1,
  .footer .homefooter3 {
    font-size: 10px;
    width: 28%;
  }
  .footer .homefooter2 {
    font-size: 10px;
    width: 37%;
  }
  .footer .homefooter2 p {
    margin: 5px;
  }
  .footer .homefooter3 svg {
    width: 12px;
    height: 12px;
    margin-right: 1px !important;
  }
  .footer .homefooter2 h3:nth-of-type(1) {
    color: white;
    line-height: 40px;
    margin-top: 15px;
    font-size: 16px;
  }
  .footer .homefooter1 h3:nth-of-type(1) {
    font-size: 16px;
  }
  .footer .homefooter3 h3:nth-of-type(1) {
    font-size: 16px;
  }
  .footer .copyright {
    margin: 0;
  }
}
.homefooter {
  height: 100%;
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
}
.homefooter1,
.homefooter2,
.homefooter3 {
  width: 30%;
  color: rgb(196, 192, 192);
}
.homefooter1 h3:nth-of-type(1) {
  color: white;
  line-height: 70px;
}
.homefooter2 h3:nth-of-type(1) {
  color: white;

  line-height: 70px;
}
.homefooter3 h3:nth-of-type(1) {
  color: white;
  line-height: 70px;
}
button {
  color: rgb(196, 192, 192);
  background-color: rgb(44, 43, 43);
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
}
button:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(150, 147, 147);
}
.footer .homefooter3 svg {
  color: rgb(139, 138, 138);
  margin-right: 5px;
}
.footer .homefooter3 svg:hover {
  color: rgb(241, 231, 231);
  background-color: transparent;
}
.homefooter3 p {
  margin-top: 20px;
}
span {
  color: rgb(139, 138, 138);
}
.footer .copyright:hover {
  color: rgb(139, 138, 138) !important;
}
