* {
  box-sizing: border-box;
}
.inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.head-fluid{
  display: flex;
  justify-content: center;
  align-items: center;
}
.NewsHead .head-prop {
  font-weight: bold;
  font-size: 60px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
@media (width <= 760px){
  .NewsHead .head-prop{
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }
}
.box-left-side {

  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
    url(../images/news/pablo-merchan-montes-Orz90t6o0e4-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding:250px 20px 0;
}
.box-right-side {

  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url(../images/news/stefan-johnson-xIFbDeGcy44-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding:250px 20px 0;
}
.box-left-side h1,
.box-right-side h1 {
  color: white;
  font-size: 25px;
  text-align: left;
}
.box-left-side p,
.box-right-side p {
  width: 20%;
  background-color: #dc3545;
  color: white;
  text-align: center;
  padding: 6px;
  border-radius: 4px;
}
.news-card{
  width: 100%;
  background-color: transparent;
}